// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&family=Source+Sans+Pro&display=swap");

body {
  // font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  // font-family: "Source Sans Pro", sans-serif;
}

.bordered-left {
  border-left: 1px solid rgb(206, 206, 206);
}

.q-field--auto-height.q-field--dense .q-field__control,
.q-field--auto-height.q-field--dense .q-field__native {
  min-height: 32px;
}

.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 32px;
}

.q-field__bottom {
  padding: 4px 10px 0;
}

.text-sm {
  font-size: 10px;
}

.text-xs {
  font-size: 8px;
}
